*{
    
    margin: auto;
    font-size: 15px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
/* HEADER-START */


header{
    text-align: justify;     
    background: url('https://images.pexels.com/photos/1539225/pexels-photo-1539225.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover;
    background-size:100% 100%;
    color: #e7ca64;
    padding: 20px;
    
  
  
 }
section{
    padding-top: 8rem;
}
 .top{
    display: flex;
    padding: 1em;
    
 }
 /* HEADER-END */
/* 
 HEADER-SECOND HALF */
.yamuna{
    text-align: center;
    text-shadow: 1px 1px 2px rgb(220, 73, 15);
    margin: 5em auto ;
    max-width: 100%;
   
 
}
.git-face i{
    

    color: #e7ca64;
    background-color: #9aa3b7;
    padding: 1em;
    border-radius: 50%;
    margin-top: 2rem;
}
.git-face i:hover{
    background-color: rgb(227, 42, 94);
    padding: 2em;
}

/* HEADER-SECOND HALF */

 /* HEADER-PROPERTY */

a{color: rgb(250, 250, 250);
    text-decoration: none;
}
   
.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    color: #e7ca64;
    flex:1 1 50%;
    flex-direction: row;
    background-color: rgba(33, 45, 75,0.8);
    position:sticky;
    height: fit-content;
    width: 100%;
    top:0px;
    left:0;
    z-index: 10;
     
}


.navigator{
    
    text-align: right;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    
}
.nav-item{
    padding: 1em;
}
 .nav-item a:hover{
    color:#e7ca64;
    background-color: rgb(227, 42, 94);
    padding: 1em;
    border-radius: 1em;
    transform: scale(1.05)ease ;
    
}
h2{
    color: #e7ca64;
    font-size: 2em;
    
}

/* HEADER-PROPERTY=END */

/* 
BODY START */
main{
    background-color: #0a101e;
}
 .content{
    width: 70vw;
    background-color: #0a101e;
 }
h1{
    font-size:3em;
}


.content{
    background-color: #0a101e;
    color: white;
    
}
/* BODY END */

 /* PROJECT START */
#project{
    
    text-align: center;
    margin: 30rem 0 ;
}

.box{
    display: flex;
    justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2rem;


}
.box div{
    border-radius: 10px;

}
.box-item1{
    color: white;
    padding: 5rem;
    text-align: center;
    background-color: #46516a;
    margin: 3rem 0;
    
}
.box-item2{
    color: white;
    padding: 5rem;
    text-align: center;
    background-color: #46516a;
    margin: 3rem 0;
    
}
.box-item1 i{
    color: #e7ca64;
    background-color: #0a101e;
    padding: 1em;
    border-radius: 50%;
    margin-bottom: 3rem;
    
}


.box-item2 i{
    color: #e7ca64;
    background-color: #0a101e;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
#project div a:hover{
    border-radius: 5px;
    background-color: rgb(227, 42, 94);
    padding: 1em;
    border-radius: 2em;
    transform: scale(1.05)ease ;
}




/* PROJECT END */

   /* SKILLS OPEN */

   .skills{
    display: block;
    gap: 20rem;
    padding: 20px;
    margin: 30rem 0;

   
}

.parent{ 
    width:100%;
     height: 7px;
     background-color:white;
     position: relative;
    
   }
   .child{
    position:absolute;
     height:7px;
     background-color:#e7ca64;
     width:90%;
     right: 10%;
   }

    
 
   .child1{
    height: 7px;
    background-color: #e7ca64;
    width: 600px;
    width: 70%;
    position: absolute;
    right: 30%;
   
   }
   div.container{
     position:relative;
     width:100%;
    line-height: 80px;
    margin: 150px auto;
    padding-bottom: 100px;
   }
   .percentage{
     position: absolute;
     left:95%;
     
   }

   /* SKILLS CLOSED */
  


/* INTRO-MYSELF START */

.aboutme{
    display: block;
    padding: 30px;     
  
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: #0a101e;
    
   
}

.intro-image img {
    border-radius: 10%;
    border: 1px solid #e7ca64;
 
}
.intro-words{
    margin: 20px;
}


.intro-words h2 {
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}

.intro-words h3 {
    font-size: 1.5em;
    color: #e7ca64;
    margin-bottom: 30px;
}

.intro-words p {
    color: #efece2b9;
    margin: 10px ;
}

.intro-words p span {
    color: rgba(255, 255, 255, 0.583);
}

.intro-words a {
    text-decoration: none;
    color: #a9a8a2;
}

.intro-words a .mailme {
    color: rgba(241, 232, 232, 0.844);
}
.intro-words a:hover{
    color: #cb1010;
    padding: 1em;
    
    transform: scale(1.05)ease;
    
}

.intro-words button {
    background-color: #e7ca64;
    border: none;
    padding: 10px 20px; 
    color: #fff;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out;
}

.intro-words button:hover {
    background-color: #dd7d2e;
}


/* INTRO-MYSELF END */


/* CONTACT-box */
.contact-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    color:white ;
    background-color: #0a101e;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto 0px;
}

.contact-box input,
.contact-box input,
.contact-box textarea {
    width: 350px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #a9a8a2;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    background-color: rgb(16, 22, 36);
}

.contact-box input::placeholder,
.contact-box textarea::placeholder {
    color: #982e2e;
}


.contact-box button {
    background-color: #e7ca64;
    width: 350px;
    padding: 2em;
    margin: 10px 0;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
   
}

.contact-box button:hover {
    background-color: #dd7d2e;
    color: rgb(37, 34, 34);
    padding: 1em;
   
}
 /* CONTACT-LOGO */
.address{
    display: flex;
    flex-direction: column;
  
}

.address-logo1>div{
    display: flex;
    flex-direction:column;
    gap: 4rem;
    margin-bottom: 2rem;
}

.address {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #0a101e;
    max-width: 800px;
   
}
/* logo 1 */
.address-logo1 {
    display: flex;   
}

.address-logo1 div {
    margin-right: 2em;
    font-size: 1em;
    color: white;
   
}

.address-logo1 div i {
    
    margin-bottom: 0.2em;
    font-size: 1.2em;
}

.address-logo1 p {
   
    font-size: 1em;
    color: rgb(149, 147, 150);
    font-weight: bold;
}
/* logo 2 */
.address-logo2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 200px;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
}

.address-logo2 p {
    margin: 10px 0;
    color: #FFFFFF;
}

.address-logo2 i {
    margin-right: 8px;
    color: #e7ca64; 
}

.address-logo2 span {
    font-weight: bold;
}
.address-logo2 a:hover{
    background-color: rgb(227, 42, 94);
    padding: 0.2em;
    border-radius: 50%;

}

/* CONTACT END */


/* FOOTER */
.footer{
    background-color: #0a101e;
    height: 30vh;
    color: aliceblue;
    display: flex;
    justify-content: stretch;
   }
/*  
   FOOTER */

@media (max-width:610px){
    .top-header{
        flex-direction: row;
        background-color: rgba(147, 71, 71,0.6);
    }
    .intro{
        flex-wrap: wrap;
        flex: 1 0 20%;

    }
    .contact-box{
        flex-wrap: wrap;
    }
    section{
        padding-top: 10rem;
    }

   
}

