*{
    
    margin: auto;
    font-size: 20px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: default;
    
}
/* HEADER-START */


header{
    text-align: justify;    
    background-image: url(https://images.pexels.com/photos/1539225/pexels-photo-1539225.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);  
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    
    background-size:100% 100%;
    color: #e7ca64;
    height: 300px;
    padding: 20px;
 }

 .top{
    display: flex;
    padding: auto;
    margin-left: 30px;
 }
 /* HEADER-END */
/* 
 HEADER-SECOND HALF */
.yamuna{
    text-align: center;
    text-shadow: 1px 1px 2px rgb(220, 73, 15);
    padding:60px 20px 0px;
    
}
/* HEADER-SECOND HALF */

 /* HEADER-PROPERTY */

.raji{
    color:#e7ca64;
}

.rajesh{
    color:#e7ca64;
}

a{color: white;
    text-decoration: none;
}
.top-header{
    display: flex;
    justify-content: stretch;
}
.navigator{
    
    text-align: right;
    color: white;
    display: flex;
    justify-content:flex-end;
    
}
.nav-item{
    padding: 20px;
}
a:hover{
    color:#e7ca64;
    
}
h2{
    color: #e7ca64;
    font-size: 50px;
    
}

/* HEADER-PROPERTY=END */

/* 
BODY START */
main{
    background-color: #0a101e;
}
 .content{
    width: 70vw;
    background-color: #0a101e;
 }
h1{
    font-size:50px;
}


.content{
    background-color: #0a101e;
    color: white;
    
}
/* BODY END */

 /* PROJECT START */
 .project{
    text-align: center;
}
.box{
    display: flex;
    justify-content: space-between;

}
.box-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 190px;
    width: 40%;
    background: #101624; 
    margin: 50px;
    border: #101624 3px solid;
    border-radius: 10px;
}
.box-item i{
    color: rgb(231, 202, 100);
    background-color: #0a101e;
    width: calc(20% - 40px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #a9a8a2;
    border-radius: 100px;
    text-align: center;
}
.box-item a{
    text-align: center;
}



/* PROJECT END */

   /* SKILLS OPEN */

   .skills{
    display: block;
    gap: 200px;
    margin: 30px;
}

.parent{ 
    width:100%;
     height: 7px;
     background-color:white;
   }
   .child{
     height:7px;
     background-color:#e7ca64;
     width:100%;
   }
   div.container{
     position:relative;
     width:100%;
   }
   .percentage{
     position:absolute;
     left:95%;
   }

   /* SKILLS CLOSED */
  


/* INTRO-MYSELF START */

.aboutme{
    display: block;
    padding: 30px;     
  
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: #0a101e;
    border-radius: 10px;
   
}

.intro-image img {
    border-radius: 1%;
    border: 1px solid #e7ca64;
 
}


.intro-words h2 {
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}

.intro-words h3 {
    font-size: 1.5em;
    color: #e7ca64;
    margin-bottom: 30px;
}

.intro-words p {
    color: #e7ca64;
    margin: 10px ;
}

.intro-words p span {
    color: white;
}

.intro-words a {
    text-decoration: none;
    color: #a9a8a2;
}

.intro-words a .mailme {
    color: white;
}

.intro-words button {
    background-color: #e7ca64;
    border: none;
    padding: 10px 20px; 
    color: #fff;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out;
}

.intro-words button:hover {
    background-color: #dd7d2e;
}


/* INTRO-MYSELF END */


/* CONTACT-box */
.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
    color:white ;
    background-color: #0a101e;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto 0px;
}

.contact-box input[type="text"],
.contact-box input[type="email"],
.contact-box textarea {
    width: 350px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #a9a8a2;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    background-color: rgb(16, 22, 36);
}

.contact-box input::placeholder,
.contact-box textarea::placeholder {
    color: #f0e8e8;
}


.contact-box button {
    background-color: #e7ca64;
    width: 350px;
    padding: 10px;
    margin: 10px 0;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s linear;
    transition: color 0.4s ease-in-out;
}

.contact-box button:hover {
    background-color: #dd7d2e;
    color: rgb(255, 0, 0);
}
 /* CONTACT-LOGO */
.address{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.address-logo1>div{
    display: flex;
    flex-direction:column;
    gap: 30px;
}
/* style for the address section */
.address {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #0a101e;
    max-width: 800px;
    margin: 0 auto;
}

/* Styling for address logo section */
.address-logo1 {
    display: flex;
    align-items: flex-start;
    
}

.address-logo1 div {
    margin-right: 20px;
    font-size: 1em;
    color: #FFFFFF;
}

.address-logo1 div i {
    display: block;
    margin-bottom: 10px;
}

.address-logo1 p {
    margin: 0;
    font-size: 1em;
    color: #FFFFFF;
    font-weight: bold;
}

/* Styling for address logo2 section */
.address-logo2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.address-logo2 p {
    margin: 10px 0;
    color: #FFFFFF;
}

.address-logo2 i {
    margin-right: 8px;
    color: #e7ca64; 
}

.address-logo2 span {
    font-weight: bold;
}

/* CONTACT END */


/* FOOTER */
.footer{
    background-color: #0a101e;
    height: 30vh;
    color: aliceblue;
    display: flex;
    justify-content: stretch;
   }
/*  
   FOOTER */